@font-face {
  font-family: "custom-font";
  src:url("../fonts/custom-font.eot");
  src:url("../fonts/custom-font.eot?#iefix") format("embedded-opentype"),
    url("../fonts/custom-font.woff") format("woff"),
    url("../fonts/custom-font.ttf") format("truetype"),
    url("../fonts/custom-font.svg#custom-font") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "custom-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "custom-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ballot:before {
  content: "\61";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	list-style: none;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,select,input,option {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
}

html {
    -webkit-text-size-adjust: none;
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary {
    display: block;
}

audio,canvas,video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

q {
    quotes: none;
}

q:before,q:after {
    content: '';
    content: none;
}

small {
    font-size: 80%;
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -.5em;
}

sub {
    bottom: -.25em;
}

nav ul,nav ol {
    list-style: none;
    list-style-image: none;
}

button,input,select,textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
    -webkit-appearance: none;
    cursor: pointer;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

ol,ul {
    list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: separate;
    border-spacing: 0;
}

caption,th,td {
    text-align: left;
    font-weight: 400;
}

a {
    text-decoration: none;
    -webkit-transition: all .3s ease-out 0;
    -moz-transition: all .5s ease-out 0;
    -o-transition: all .3s ease-out 0;
    transition: all .3s ease-out 0;
}

blockquote:before,blockquote:after,q:before,q:after {
    content: "";
}

blockquote,q {
    quotes: "" "";
}

table {
    border: 0 none;
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    vertical-align: top;
}

img {
    border: 0 none;
    max-width: 100%;
}

a {
    outline: none;
    cursor: pointer;
}

a:focus {
    outline: 0;
}

/* End hide from IE Mac */
.none {
    display: none;
}

/* End Clearfix */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
    display: block;
}

.clear {
    clear: both;
}

img {
    max-width: 100%;
}

/* For modern browsers */
.cf:before,.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/* For IE 6/7 (trigger hasLayout) */
p {
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 23px;
    color: #000;
    font-family: arial;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

h2 {
    font-size: 26px;
    margin-bottom: 20px;
}

h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

h4 {
    font-size: 16px;
    margin-bottom: 20px;
}

h5 {
    font-size: 12px;
    margin-bottom: 20px;
}

body {
    margin: 0;
    padding: 0;
    font-family: arial;
    font-size: 14px;
    color: #030303;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-text-stroke: 1px transparent;
}

body,html {
    height: 100%;
}

.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}

.btn {
    background-color: #009899;
    padding: 17px 39px;
    font-size: 12px;
    line-height: 12px;
    font-family: "museo-slab",serif;
    font-style: normal;
    font-weight: 500;
    border-radius: 30px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.btn:hover,.btn:focus {
    background-color: #397d7d;
    color: #fff;
    outline: none;
}

.lnk-typ1 {
    display: inline-block;
    font-family: "museo-slab",serif;
    font-style: normal;
    font-weight: 500;
    color: #fff;
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.6px;
}

.lnk-typ1:hover,.lnk-typ1:focus {
    color: #ff6c4a;
    outline: none;
    text-decoration: none;
}

.lnk-typ2 {
    color: #0269ab;
}

.lnk-typ2:hover,.lnk-typ2:focus {
    color: #ef7f4d;
    text-decoration: none;
}

.lnk-typ3 {
    color: #0269ab;
    text-decoration: underline;
}

.lnk-typ3:hover,.lnk-typ3:focus {
    color: #ef7f4d;
}

.table i.fa-check-circle{
	color: #ef7f4d;
}

.table p{
	padding-bottom: 0;	
}

.table a{
	font-weight: 700;	
}

a.list-group-item,
.list-group-item a,
.list-group-item p{
	font-weight: 700;
	padding-bottom: 0 !important;
}

.responsive-iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
 
.responsive-iframe-container iframe,   
.responsive-iframe-container object,  
.responsive-iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

p.alert h1,
p.alert h2,
p.alert h3,
p.alert h4,
p.alert h5,
p.alert h6,{
	color: #383838;	
}

p.alert a{
	color: #fff;	
}