
@media (max-width:1820px) {
    .int-gallery .image-case1 img,
	.int-gallery .image-case2 img,
	.int-gallery .image-case3 img {
        width: auto;
    }
}

@media (max-width: 1400px) and (min-width: 1080px){
    .home .carousel-caption h1{
        line-height: 102px;
    }
}

@media (max-width: 1400px){
    .home .carousel-caption{
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0,0,0,0.35);
    }
}

@media (max-width:1220px) {
    .container {
        max-width: 1200px;
    }

    header .topbar-left .logo {
        width: 180px;
    }

    .navigation-bg .navbar {
        padding-left: 150px;
    }

    .int-gallery .image-case1 img,
	.int-gallery .image-case2 img,
	.int-gallery .image-case3 img {
        width: 155%;
    }
}

@media (max-width:1200px) {
    .navigation-bg .navbar {
        padding-left: 169px;
    }

    .navigation-bg .navbar li a {
        font-size: 13px;
        line-height: 13px;
        padding: 24px 7px 24px 10px;
        letter-spacing: 1px;
    }

    .navigation-bg .navbar li a::before {
        height: 3px;
        width: 3px;
        margin-top: 0;
    }

    .navigation-bg .navbar-collapse {
        padding-right: 0;
    }

    header .topbar-left .logo {
        width: 190px;
        left: 20px;
    }

    header .topbar-right {
        padding-top: 20px;
    }

    header .topbar-right .phone-no {
        display: block;
        margin-bottom: 15px;
        margin-right: 0;
    }

    .featured .pro-box h3 {
        padding: 0;
    }

    .featured .pro-box p {
        padding-left: 0;
        padding-right: 0;
    }

    .featured .pro-box .color-bdr {
        padding: 32px 15px 28px;
    }

    .featured .pro-box .pro-icon {
        margin-bottom: 25px !important;
    }

    .featured .pro-box h3 {
        margin-bottom: 15px;
    }

    .featured .pro-box .btn {
        margin-top: 25px;
    }

    .map-control .map-container {
        background-size: 55%;
    }

    .map-control h4 {
        font-size: 17px;
        line-height: 24px;
    }

    .map-control h4 {
        margin-bottom: 15px;
    }

    .map-control p {
        font-size: 15px;
        line-height: 23px;
    }

    .map-control .map-btn {
        margin-top: 0;
    }

    .map-control {
        margin-bottom: 25px;
        min-height: inherit;
    }

    .gallery-right .gall-top-text {
        padding: 50px 40px;
    }

    .gallery-control .gallery-left img {
        width: 100%;
    }

    .gallery-control .small-image img {
        width: 110%;
    }

    .content p{
        font-size: 14px;
        line-height: 23px;
    }

    .featured-box .probox-support p {
        padding: 0;
        font-size: 15px;
    }

    .featured-box .probox-support.telephone-box .icon-probox {
        margin-bottom: 10px;
    }

    .gall-txt-box {
        padding: 40px;
    }

    .int-gallery .image-case1 img,
	.int-gallery .image-case2 img,
	.int-gallery .image-case3 img {
        width: 127%;
    }

    .gallery-right h2,.gall-txt-box h2 {
        font-size: 21px;
        line-height: 21px;
        margin-bottom: 15px;
    }

    body {
        overflow-x: hidden;
    }
}

@media (max-width: 1080px) {
    .carousel-caption {
        top: 0px
    }
    .carousel-caption h2 {
        font-size: 20px;
        line-height: 22px
    }
    .carousel-caption h1 {
        font-size: 115px;
        line-height: 100px
    }
    .carousel-caption h3 {
        font-size: 16px;
        padding: 5% 15%
    }
}

@media (max-width:991px) {
    .navigation-bg .navbar-collapse {
        padding-right: 25px;
    }

    header .topbar-left .logo {
        width: 90px;
        top: 93px;
        left: 21px;
    }

    header .topbar-left {
        padding-left: 0;
    }

    .navigation-bg .container {
        width: 100%;
    }

    .navigation-bg .navbar {
        padding-left: 0;
    }

    .navigation-bg .navbar li a::before {
        display: none;
    }

    .navigation-bg .container {
        padding-left: 0;
        padding-right: 0;
    }

    .navigation-bg .navbar li a {
        padding: 20px 15px;
        font-size: 14px;
        // border-bottom: 1px solid #3e82ae;
        text-align: center;
    }

    .navigation-bg .navbar li a:hover,
	.navigation-bg .navbar li a:focus,
	.navigation-bg .navbar-default .navbar-nav > li a:focus,
	.navigation-bg .navbar-default .navbar-nav > li.active > a,
	.navigation-bg .navbar-default .navbar-nav > li.active > a:focus,
	.navigation-bg .navbar-default .navbar-nav > li.active > a:hover {
        background-color: #d6ebfa;
        color: #0269ab;
    }

    .navigation-bg .navbar .navbar-nav {
        margin-top: 0;
        margin-bottom: 0;
    }

    .navigation-bg .navbar-default .navbar-toggle {
        border: 0;
        padding: 0;
        margin-bottom: 14px;
        margin-top: 10px;
        border-radius: 1px;
    }

    .navigation-bg .navbar-default .navbar-toggle .sr-only {
        display: none;
    }

    .navigation-bg .navbar-default .navbar-toggle .icon-bar {
        height: 3px;
        width: 35px;
        background-color: #fff;
        margin-top: 5px;
        border-radius: 0;
    }

    .navbar-toggle span {
        transition: all .3s ease-out 0;
    }

    .navbar-toggle.collapsed span.icon-bar:nth-child(2) {
        transform: rotate(0deg) translateY(0px) translateX(0px);
        -webkit-transform: rotate(0deg) translateY(0px) translateX(0px);
    }

    .navbar-toggle.collapsed span.icon-bar:nth-child(3) {
        opacity: 1;
    }

    .navbar-toggle.collapsed span.icon-bar:nth-child(4) {
        transform: rotate(0deg) translateY(0px) translateX(0px);
        -webkit-transform: rotate(0deg) translateY(0px) translateX(0px);
    }

    .navbar-toggle span.icon-bar:nth-child(2) {
        transform: rotate(45deg) translateY(4px) translateX(6px);
        -webkit-transform: rotate(45deg) translateY(4px) translateX(6px);
    }

    .navbar-toggle span.icon-bar:nth-child(3) {
        opacity: 0;
    }

    .navbar-toggle span.icon-bar:nth-child(4) {
        transform: rotate(-45deg) translateY(-5px) translateX(7px);
        -webkit-transform: rotate(-45deg) translateY(-5px) translateX(7px);
    }

    .navbar-toggle span {
        transition: all .3s ease-out 0;
    }

    .navbar-toggle.collapsed span.icon-bar:nth-child(2) {
        transform: rotate(0deg) translateY(0px) translateX(0px);
        -webkit-transform: rotate(0deg) translateY(0px) translateX(0px);
    }

    .navbar-toggle.collapsed span.icon-bar:nth-child(3) {
        opacity: 1;
    }

    .navbar-toggle.collapsed span.icon-bar:nth-child(4) {
        transform: rotate(0deg) translateY(0px) translateX(0px);
        -webkit-transform: rotate(0deg) translateY(0px) translateX(0px);
    }

    .navigation-bg .navbar-default .navbar-toggle:hover,
	.navigation-bg .navbar-default .navbar-toggle:focus {
        background-color: transparent;
    }

    .map-control .map-container {
        min-height: 486px;
    }

    .toolbox-control .inner-box h2 a {
        font-size: 21px;
    }

    .gallery-right .gall-top-text {
        padding: 40px;
    }

    .gallery-right h2,
	.gall-txt-box h2 {
        font-size: 17px;
        line-height: 17px;
    }

    .gall-txt-box {
        padding: 25px;
    }

    .navigation-bg .navbar .container-fluid {
        padding-left: 25px;
        padding-right: 25px;
    }

    .navigation-bg .navbar .container-fluid .navbar-collapse {
        padding-left: 25px;
        padding-right: 25px;
    }

    .btn {
        padding: 17px 30px;
    }

    .navigation-bg .navbar-default .navbar-collapse {
        border-color: #3e82ae;
    }

    .carousel-caption h2 {
        font-size: 15px;
        line-height: 12px
    }

    .carousel-caption h1 {
        font-size: 90px;
        line-height: 80px
    }

    .carousel-caption h3 {
        font-size: 13px;
        padding: 5% 5%
    }

    .carousel-indicators {
        bottom: 5px
    }
}

@media (max-width:767px) {
    header .topbar-left {
        padding-left: 0;
        text-align: center;
    }

    header .topbar-left .logo {
        width: 120px;
        vertical-align: middle;
        left: 20px;
        top: 130px;
    }

    header .topbar-left .project-teach {
        padding-top: 0;
        vertical-align: middle;
    }

    header .topbar-right .phone-no {
        display: block;
        width: 100%;
        margin-right: 0;
        text-align: center;
        vertical-align: middle;
    }

    header .topbar-right .top-search {
        display: inline-block;
        width: 100%;
        margin-right: -4px;
        text-align: right;
        vertical-align: middle;
    }

    .navigation-bg .navbar li a:hover,
    .navigation-bg .navbar li a:focus,
    .navigation-bg .navbar-default .navbar-nav > li a:focus,
    .navigation-bg .navbar-default .navbar-nav > li.active > a,
    .navigation-bg .navbar-default .navbar-nav > li.active > a:focus,
    .navigation-bg .navbar-default .navbar-nav > li.active > a:hover {
        background-color: #3e82ae;
        color: #fff;
    }

    .dropdown-menu,
    .navigation-bg .navbar li .sub-menu {
        position: static!important;
        float: none!important;
        border: 1px solid transparent!important;
    }

    .dropdown-menu>li>a,
    .navigation-bg .navbar li .sub-menu>li>a {
        font-size: 12px;
    }

    .featured {
        margin-top: 25px;
        margin-bottom: 0;
    }

    .featured .pro-box {
        margin-bottom: 25px;
    }

    .banner .banner-txt h1,
    .mobile-banner .banner-txt h1{
        font-size: 80px;
        line-height: 82px;
    }

    .banner .banner-txt h2,
    .mobile-banner .banner-txt h2{
        font-size: 25px;
        line-height: 25px;
        margin-bottom: 15px;
    }

    .banner,
    .mobile-banner{
        min-height: 300px;
    }

    .banner .banner-txt,
    .mobile-banner .banner-txt{
        padding-top: 100px;
    }

    .map-control .map-container {
        min-height: 1px;
        padding-top: 83%;
        background-size: 100%;
    }

    .map-control {
        margin-bottom: 45px;
        margin-top: 30px;
    }

    .toolbox-control .inner-box {
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .toolbox-control .inner-box.last {
        margin-bottom: 0;
        border-bottom: 0;
    }

    .toolbox-control {
        margin-bottom: 40px;
    }

    .gallery-right .gall-top-text {
        padding: 25px;
    }

    .gallery-right h2,
	.gall-txt-box h2 {
        margin-bottom: 15px;
        font-size: 17px;
        line-height: 17px;
    }

    .partners .partner-img {
        margin-bottom: 25px;
    }

    .partners .partner-img.aafp,
	.partners .partner-img.aap {
        padding-top: 0;
    }

    .partners {
        padding: 50px 0 20px;
    }

    .about-banner .banner-txt h1 {
        font-size: 40px;
        line-height: 55px;
    }

    .education-img {
        margin-bottom: 20px;
    }

    .int-gallery .eveningbox {
        width: 75%;
    }

    .int-gallery .imagecase1 {
        width: 25%;
    }

    .int-gallery .clinicalbox {
        width: 100%;
    }

    .int-gallery .imagecase2 {
        width: 25%;
    }

    .int-gallery .reachtrainingbox {
        width: 75%;
    }

    .int-gallery .imagecase2 img {
        background-size: 135%;
    }

    .int-gallery .imagecase3 {
        width: 100%;
    }

    .int-gallery .imagecase3 img {
        background-size: 100%;
    }

    .featured-box .probox-support {
        margin-bottom: 20px;
        padding-bottom: 20px;
    }

    .featured-box .probox-support.last {
        border-bottom: 0;
        margin-bottom: 0;
    }

    .map-control .map-btn {
        text-align: left;
    }
}

@media (max-width: 690px) {
    #full-slider-banner{
        display: none;
    }
    #mobile-slider-banner{
        display: block;
    }
    .carousel-wrap{
        margin-top: 0px;
    }
    .home .carousel-caption{
        padding: 90px 0px;
    }  
        .carousel-caption h2{line-height: 20px;}
        .carousel-caption h1{font-size: 70px; line-height: 80px;}
}

@media (max-width:640px) {
    h1 {
        font-size: 28px;
    }

    .gallery-control .mob-grid {
        width: 100%;
        float: none;
    }

    .gallery-control .gallery-left,
	.gallery-control .small-image {
        height: 290px !important;
    }

    .gall-txt-box {
        padding: 22px;
    }

    .gallery-right .gall-top-text {
        padding: 80px 25px;
    }

    .gallery-right .gall-top-text h2 {
        font-size: 25px;
        line-height: 25px;
    }
	.int-banner .banner-txt{
		padding: 42px 0 0;	
	}
}

@media (max-width:500px){
    header .topbar-right ul.sub-menu li a{
        font-size: 13px;
    }
    .home .carousel-caption{
        padding: 20px;
    }
    .carousel-caption h1{
        font-size: 52px;
        line-height: 60px;
    }
}

@media (max-width:480px) {
    header .topbar-right .phone-no {
        margin-right: 0;
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    header .topbar-right .top-search {
        margin-right: 0;
        display: block;
        width: 100%;
    }

    header .topbar-right .top-search input {
        width: 260px;
        padding: 5px 38px 5px 16px;
        height: 35px;
        font-size: 14px;
    }

    header .topbar-right .top-search .search-icon {
        height: 35px;
    }

    header .topbar-right .phone-no {
        margin-bottom: 16px;
    }

    header .topbar-right .phone-no .big-no {
        font-size: 20px;
        line-height: 20px;
    }

    header .topbar-right .phone-no .small-no {
        font-size: 13px;
        line-height: 13px;
    }

    header .topbar-right {
        padding-top: 10px;
    }

    header .topbar-left .project-teach {
        width: 165px;
    }

    header .topbar-left .logo {
        width: 90px;
    }

    .banner .banner-txt h2,
    .mobile-banner .banner-txt h2{
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 10px;
    }

    .banner .banner-txt h1,
    .mobile-banner .banner-txt h1{
        font-size: 60px;
        line-height: 60px;
    }

    .banner,
    .mobile-banner{
        min-height: 250px;
    }

    .banner .banner-txt,
    .mobile-banner .banner-txt{
        padding-top: 95px;
    }

    header .topbar-left .logo {
        top: 120px;
        left: 10px;
    }

    header .topbar-right .top-search,
    header .topbar-right ul.sub-menu{
        position: relative;
        right: -18px;
    }

    header .topbar-right ul.sub-menu li a{
        font-size: 11px;
    }

    .mob-grid {
        width: 100%;
        float: none;
    }

    .about-banner .banner-txt h1 {
        font-size: 30px;
    }

    .about-banner {
        min-height: 120px;
    }

    .about-banner .banner-txt {
        padding-top: 32px;
    }

    .int-gallery .eveningbox {
        width: 100%;
    }

    .int-gallery .imagecase1 {
        width: 100%;
    }

    .int-gallery .clinicalbox {
        width: 100%;
    }

    .int-gallery .imagecase2 {
        width: 100%;
    }

    .int-gallery .reachtrainingbox {
        width: 100%;
    }

    .int-gallery .imagecase3 {
        width: 100%;
    }

    .int-gallery .image-case1,
	.int-gallery .image-case2,
	.int-gallery .image-case3 {
        height: auto !important;
    }

    .gall-txt-box {
        padding: 70px 22px;
    }

    .gall-txt-box h2 {
        font-size: 22px;
        line-height: 24px;
    }

    footer .ft-txt {
        padding: 0 20px;
    }

    .content-right .content-hd {
        padding: 70px 30px 20px;
    }

    .content-right .content-hd::before {
        top: 38px;
        left: 50%;
        margin-left: -36px;
    }
}

@media (max-width:360px) {
    header .topbar-right .top-search input {
        width: 170px;
    }

    footer .ft-search input {
        width: 250px;
    }
}