#footer-main {
    background: #000;
    width: 100%;
    color: #fff;
}

#footer-main p {
    padding: 20px 0;
    text-align: center;
    color: #fff;
    font-size: 26px;
    line-height: 30px;
}

.preloader {
    display: none;
}

footer {
    background-color: #0269ab;
    padding: 30px 0 38px;
    text-align: center;
}

footer .ft-logo a {
    margin-bottom: 21px;
    display: inline-block;
}

footer .ft-logo a:focus {
    outline: none;
}

footer .ft-no {
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 25px;
    color: #fff;
    font-family: "soleil",sans-serif;
    font-style: normal;
    font-weight: 800;
    text-decoration: none;
    letter-spacing: 2.5px;
}

footer .ft-no a:hover,footer .ft-no a:focus {
    outline: none;
    color: #dededd;
}

footer .ft-txt {
    font-size: 14px;
    line-height: 14px;
    font-family: "soleil",sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #fff;
    margin-bottom: 23px;
    letter-spacing: 1.4px;
	text-transform: uppercase;
}

footer .ft-search {
    display: inline-block;
    position: relative;
}

footer .ft-search input {
    width: 322px;
    display: inline-block;
    height: 42px;
    background-color: #fff;
    border-radius: 35px;
    padding: 10px 50px 10px 22px;
    font-family: "soleil",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #0269ab;
}

footer .ft-search .search-icon {
    font-size: 0;
    padding: 0;
    line-height: 0;
    content: "";
    position: absolute;
    right: 20px;
    top: 0;
    background-image: url(../images/search-icon.png);
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 16px;
    background-position: left center;
    content: "";
    height: 42px;
    position: absolute;
    right: 20px;
    width: 17px;
}

footer .ft-search .search-icon:focus {
    background-color: transparent;
}

footer .ft-search input::-webkit-input-placeholder {
    color: #0269ab;
}

footer .ft-search input:-moz-placeholder {
    color: #0269ab;
}

footer .ft-search input::-moz-placeholder {
    color: #0269ab;
}

footer .ft-search input:-ms-input-placeholder {
    color: #0269ab;
}

footer .ft-search input:focus {
    background-color: #e2f3fd;
}

footer .ft-search {
    margin-bottom: 30px;
}

footer .copyright {
    font-family: "soleil",sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #fff;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
}