#header-main {
    background: #000;
    width: 100%;
}

#header-main p {
    padding: 30px 0;
    text-align: center;
    color: #fff;
    font-size: 26px;
}

header {
    padding: 17px 0 22px;
    background-color: #fff;
}

header .topbar-left {
    padding-left: 208px;
}

header .topbar-left .logo {
    display: inline-block;
    margin-right: 14px;
    left: 0;
    z-index: 1;
    vertical-align: top;
    outline: none;
    position: absolute;
}

header .topbar-left .project-teach {
    display: inline-block;
    vertical-align: top;
    padding-top: 19px;
    position: relative;
    left: 30px;
}

header .topbar-left .project-teach a {
    display: inline-block;
}

header .topbar-left .project-teach a:focus {
    outline: none;
}

header .topbar-left .project-teach .logo-text {
    color: #0269ab;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 10px;
    font-family: "myriad-pro",sans-serif;
    font-style: normal;
    font-weight: 400;
}

header .topbar-right {
    text-align: right;
    padding-top: 25px;
}

header .topbar-right .top-search {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}


header .topbar-right .top-search input {
    width: 320px;
    height: 48px;
    border-radius: 35px;
    background-color: #deedf8;
    padding: 9px 45px 10px 28px;
    color: #0269ab;
    font-size: 16px;
    line-height: 16px;
    transition: .3s;
    font-family: "soleil",sans-serif;
    font-style: normal;
    font-weight: 500;
}

.win.safari header .topbar-right .top-search input[type="text"] {
    height: auto;
    padding: 12px 45px 12px 28px;
}

header .topbar-right .top-search input::-webkit-input-placeholder {
    color: #0269ab;
}

header .topbar-right .top-search input:-moz-placeholder {
    color: #0269ab;
}

header .topbar-right .top-search input::-moz-placeholder {
    color: #0269ab;
}

header .topbar-right .top-search input:-ms-input-placeholder {
    color: #0269ab;
}

header .topbar-right .top-search input:focus {
    background-color: #ccfbfb;
}

header .topbar-right .top-search .search-icon {
    display: inline-block;
    font-size: 0;
    line-height: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 20px;
    content: "";
    height: 48px;
    width: 17px;
    background: url(../images/search-icon.png) no-repeat left center;
    background-size: 16px;
}

header .topbar-right .phone-no {
    display: inline-block;
    margin-right: 27px;
    vertical-align: middle;
}

header .topbar-right .phone-no .big-no {
    font-size: 24px;
    line-height: 28px;
    color: #0069a3;
    font-family: "canada-type-gibson",sans-serif;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: .039em;
}

header .topbar-right .phone-no .small-no {
    font-size: 14px;
    line-height: 14px;
    color: #009899;
    font-family: "canada-type-gibson",sans-serif;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: .05em;
}

header .topbar-right ul.sub-menu {
    margin-top: 5px;
}

header .topbar-right ul.sub-menu li {
    display: inline;
    margin: 0 3px;
}

header .topbar-right ul.sub-menu li a {
    color: #009899;
}

/* Header CSS End */
.navigation-bg {
    background-color: #0269ab;
    position: relative;
}

.navigation-bg .navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: transparent;
    border-color: transparent;
    padding-left: 180px;
}

.navigation-bg .navbar-default .navbar-nav > .active > a,
.navigation-bg .navbar-default .navbar-nav > .active > a:hover,
.navigation-bg .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
    color: #ef804e;
    outline: none;
}

.navigation-bg .navbar li a {
    font-family: "soleil",sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-size: 14px;
    line-height: 14px;
    padding: 21px 9px 21px 18px;
    position: relative;
}

.navigation-bg .navbar li:last-child a,
.navigation-bg .navbar li.last a {
    padding-right: 0;
}

.navigation-bg .navbar li a:hover {
    color: #ef7f4d;
    outline: 0;
}

.navigation-bg .navbar li .sub-menu{
	@extend .dropdown-menu;	
}

.navigation-bg .navbar li.menu-item-has-children:hover > .sub-menu{
	display: block;
	border-radius: 0;
}

.navigation-bg .navbar .sub-menu a:before {
  border-radius: 100%;
  content: "";
  height: auto;
  left: 0;
  margin-top:0;
  position: inherit;
  width: auto;
}

.navigation-bg .navbar li ul.sub-menu a,
.navigation-bg .navbar li ul.sub-menu a:hover{
	background: none;	
}

.navigation-bg .navbar li ul.sub-menu a{
	color: #0269ab;
}

.navigation-bg .navbar li ul.sub-menu a:hover{
	color: #ef804e;
}

.navigation-bg .navbar-default .navbar-nav > li a:focus,
.navigation-bg .navbar-default .navbar-nav > li.active > a,
.navigation-bg .navbar-default .navbar-nav > li.active > a:focus {
    color: #d6ebfa;
}

.navigation-bg .navbar li .sub-menu > .active > a,
.navigation-bg .navbar li .sub-menu > .active > a:focus,
.navigation-bg .navbar li .sub-menu > .active > a:hover {
	background: none;
	color: #27ae60;
}

.navigation-bg .navbar li a:before {
    height: 4.3px;
    width: 4.3px;
    background-color: #fff;
    border-radius: 100%;
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -2px;
    transition: .3s;
}

.navigation-bg .navbar li:first-child a:before {
    display: none;
}

.navigation-bg .navbar .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.navigation-bg .navbar .container-fluid .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}

.banner,
.mobile-banner{
    min-height: 430px;
    background: url(../images/banner-bg.png) no-repeat center center;
    background-size: cover;
}

.banner .banner-txt,
.mobile-banner .banner-txt{
    text-align: center;
    padding-top: 100px;
}

.banner .banner-txt h2,
.mobile-banner .banner-txt h2{
    font-family: "museo-slab",serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 0;
    letter-spacing: 5.5px;
    word-spacing: 6px;
}

.banner .banner-txt h3,
.mobile-banner .banner-txt h3{
	color: #fff;
	letter-spacing: 1.5px;	
	text-transform: uppercase;
	font-size: 18px;
	padding: 5% 20%;
}

.banner .banner-txt h1,
.mobile-banner .banner-txt h1{
    font-family: "soleil",sans-serif;
    font-style: normal;
    font-weight: 800;
    color: #fff;
    font-size: 136px;
    line-height: 122px;
    letter-spacing: 2px;
    word-spacing: 4px;
}