.wrapper {
    overflow-x: hidden;
    width: 100%;
}

.main {
    width: 1200px;
    margin: 0 auto;
}

#mid-container {
    background: #fff;
    width: 100%;
    color: #000;
}

#mid-container .main {
    padding: 30px 0;
}

.main .left-panel {
    float: left;
    width: 60%;
}

.main aside {
    float: right;
    width: 35%;
    background: #000;
    padding: 0 4% 10px;
    box-shadow: 0 5px 10px #aaa;
    border-radius: 10px;
}

.main aside h2 {
    color: #fff;
    padding-top: 30px;
}

.main aside p {
    color: #fff;
}

.push {
    height: 70px;
}

.featured {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 90px;
}

.featured .pro-box {
    border: 7px solid #deedf8;
}

.featured .pro-box .pro-icon {
    min-height: 42px;
}

.featured .clinical-box.pro-box .pro-icon {
    width: 36px;
    height: 42px;
    background: url(../images/clinical-icon.png) no-repeat left top;
    background-size: 36px;
    margin: auto;
    margin-bottom: 28px;
}

.featured .pro-box h3 {
    color: #ff6c4a;
    font-size: 18px;
    line-height: 25px;
    font-family: "soleil",sans-serif;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
    padding: 0 30px;
    margin-bottom: 9px;
    letter-spacing: 1.5px;
}

.featured .pro-box p {
    color: #000;
    font-size: 16px;
    line-height: 24px;
    font-family: "soleil",sans-serif;
    font-style: normal;
    font-weight: 400;
    padding: 0 10px;
}

.featured .clinical-box.pro-box .btn {
    background-color: #ff6c4a;
}

.featured .pro-box .btn {
    margin-top: 31px;
}

.featured .clinical-box.pro-box .btn:hover {
    background-color: #d95637;
}

.featured .pro-box .color-bdr {
    padding: 42px 15px 38px;
    background-color: #fff;
    border: 3px solid #ff6c4a;
}

.featured .clinical-box.pro-box .color-bdr {
    border: 3px solid #ff6c4a;
}

.featured .educational-box.pro-box {
    border-color: #b1d9f1;
}

.featured .educational-box.pro-box .pro-icon {
    width: 56px;
    height: 40px;
    background: url(../images/educational-icon.png) no-repeat left top;
    background-size: 56px;
    margin: auto;
    margin-bottom: 28px;
}

.featured .educational-box.pro-box .color-bdr {
    border-color: #0269ab;
}

.featured .educational-box.pro-box h3 {
    color: #0269ab;
}

.featured .educational-box.pro-box .btn {
    background-color: #0269ab;
}

.featured .educational-box.pro-box .btn:hover {
    background-color: #004b7b;
}

.featured .quarterly-box.pro-box {
    border-color: #deedf8;
}

.featured .quarterly-box.pro-box .pro-icon {
    width: 44px;
    height: 36px;
    background: url(../images/quarterly-icon.png) no-repeat left top;
    background-size: 44px;
    margin: auto;
    margin-bottom: 28px;
}

.featured .quarterly-box.pro-box .color-bdr {
    border-color: #009899;
}

.featured .quarterly-box.pro-box h3 {
    color: #009899;
}

.map-control {
    margin-bottom: 90px;
}

.map-control h4 {
    font-size: 24px;
    line-height: 32px;
    color: #0269ab;
    font-family: "soleil",sans-serif;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 22px;
}

.map-control p {
    font-size: 16px;
    line-height: 26px;
    color: #030303;
    font-family: "soleil",sans-serif;
    font-style: normal;
    font-weight: 300;
    letter-spacing: -.2px;
}

.map-control .map-btn {
    margin-top: 7px;
}

.map-control .map-container {
    background: url(../images/map-bg.png) no-repeat left top;
    min-height: 516px;
}

.map-control .map-btn .btn {
    padding: 17px 33px;
    letter-spacing: .1em;
}

.toolbox-control .inner-box {
    text-align: center;
	text-transform: uppercase;
}

.toolbox-control .inner-box .tool-icon {
    display: inline-block;
    height: 138px;
    width: 138px;
    border-radius: 100%;
    background-color: #0269ab;
    margin-bottom: 9px;
    position: relative;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

.toolbox-control .inner-box .tool-icon:hover,.toolbox-control .inner-box .tool-icon:focus {
    background-color: #004b7b;
}

.toolbox-control .inner-box.reachtraining .tool-icon:hover,.toolbox-control .inner-box.reachtraining .tool-icon:focus {
    background-color: #397d7d;
}

.toolbox-control .inner-box.setting-box .tool-icon:focus,.toolbox-control .inner-box.setting-box .tool-icon:hover {
    background-color: #d95637;
}

.toolbox-control .inner-box.suggestion-box .tool-icon:focus, .toolbox-control .inner-box.suggestion-box .tool-icon:hover{
    background-color: #840b6f;
}


.toolbox-control .inner-box h2 {
    margin-bottom: 3px;
}

.toolbox-control .inner-box .tool-icon:before {
    transition: .5s;
}

.toolbox-control .inner-box .tool-icon:hover,.toolbox-control .inner-box .tool-icon:focus {
    outline: none;
}

.toolbox-control .inner-box.webinars .tool-icon:before {
    content: "";
    width: 77px;
    height: 52px;
    background: url(../images/play-icon.png) no-repeat left top;
    background-size: 77px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -26px;
    margin-left: -38.5px;
}

.toolbox-control .inner-box.reachtraining .tool-icon {
    background-color: #009997;
}

.toolbox-control .inner-box.reachtraining .tool-icon:before {
    content: "";
    width: 68px;
    height: 54px;
    background: url(../images/user-icon.png) no-repeat left top;
    background-size: 68px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -26px;
    margin-left: -33px;
}

.toolbox-control .inner-box.setting-box .tool-icon {
    background-color: #ff6c4a;
}

.toolbox-control .inner-box.setting-box .tool-icon:before {
    content: "";
    width: 71px;
    height: 72px;
    background: url(../images/setting-icon.png) no-repeat left top;
    background-size: 71px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -36px;
    margin-left: -35px;
}

.toolbox-control .inner-box.suggestion-box .tool-icon {
    background-color: #9C3B8B;
}

.toolbox-control .inner-box.suggestion-box .tool-icon:before {
    content: "";
    width: 86px;
    height: 60px;
    background: url(../images/suggestion-icon.png) no-repeat 0 0;
    background-size: 85px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -32px;
    margin-left: -40.5px;
}

.toolbox-control .inner-box h2 a {
    color: #0269ab;
    font-size: 24px;
    line-height: 25px;
    font-family: "soleil",sans-serif;
    font-style: normal;
    font-weight: 800;
    margin-bottom: 10px;
    text-decoration: none;
    letter-spacing: 1.7px;
}

.toolbox-control .inner-box h2 a:hover,.toolbox-control .inner-box h2 a:focus {
    outline: none;
    color: #004b7b;
}

.toolbox-control .inner-box.reachtraining h2 a:hover,.toolbox-control .inner-box.reachtraining h2 a:focus {
    color: #397d7d;
}

.toolbox-control .inner-box.setting-box h2 a:hover,.toolbox-control .inner-box.setting-box h2 a:focus {
    color: #d95637;
}

.toolbox-control .inner-box.suggestion-box h2 a:focus, .toolbox-control .inner-box.suggestion-box h2 a:hover{
    color: #840b6f;
}

.toolbox-control .inner-box .tool-link:hover,.toolbox-control .inner-box .tool-link:focus {
    outline: none;
    color: #004b7b;
    text-decoration: none;
}

.toolbox-control .inner-box.reachtraining .tool-link {
    color: #009997;
}

.toolbox-control .inner-box.reachtraining .tool-link:hover,.toolbox-control .inner-box.reachtraining .tool-link:focus {
    color: #397d7d;
}

.toolbox-control .inner-box.setting-box .tool-link {
    color: #ff6c4a;
}

.toolbox-control .inner-box.setting-box .tool-link:hover,.toolbox-control .inner-box.setting-box .tool-link:focus {
    color: #d95637;
}

.toolbox-control .inner-box.suggestion-box .tool-link{
    color: #9C3B8B;
}

.toolbox-control .inner-box.suggestion-box .tool-link:focus, .toolbox-control .inner-box.suggestion-box .tool-link:hover{
    color: #840b6f;
}

.toolbox-control .inner-box.reachtraining h2 a {
    color: #009997;
}

.toolbox-control .inner-box.setting-box h2 a {
    color: #ff6c4a;
}

.toolbox-control .inner-box.suggestion-box h2 a{
    color: #9C3B8B;
}

.toolbox-control .inner-box .tool-link {
    font-family: "museo-slab",serif;
    font-style: normal;
    font-weight: 500;

    color: #0269ab;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 1.5px;
}

.toolbox-control {
    margin-bottom: 75px;
}

.partners h2 {
    margin-bottom: 60px;
}

h2.border {
    border-top: 2px solid #0269ab;
    text-align: center;
    position: relative;
    text-transform: uppercase;
}

h2.border span {
    background-color: #fff;
    color: #0269ab;
    display: table;
    font-family: "soleil",sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    letter-spacing: .1em;
    line-height: 24px;
    margin: -18px auto 0;
    padding: 2px 20px;
}

.partners {
    padding: 89px 0 81px;
}

.partners .partner-img {
    text-align: center;
}

.partners .partner-img a {
    display: inline-block;
}

.partners .partner-img a:focus,.partners .partner-img a:hover {
    outline: none;
    opacity: .6;
}

.partners .partner-img.aafp {
    padding-top: 30px;
}

.partners .partner-img.aap {
    padding-top: 12px;
}

.gallery-control .gallery-left {
    overflow: hidden;
    text-align: center;
    background: url(../images/Hall_kids_LARGE.jpg) no-repeat center center;
    background-size: cover;
}

.gallery-control .gallery-left img {
    display: inline-block;
    width: 100%;
    max-width: none;
}

.gallery-control .small-image {
    overflow: hidden;
    text-align: center;
	background: url(../images/gallery-image-2.jpg) no-repeat center center;
	background-size: cover;
}

.gallery-control .small-image img {
    display: inline-block;
    width: 100%;
    max-width: none;
}

.gallery-right .gall-top-text {
    background-color: #0269ab;
    padding: 72px 59px;
}

.gallery-right .gall-top-text .lnk-typ1 {
    color: #dbf0ff;
}

.gallery-right .gall-top-text .lnk-typ1:hover {
    color: #ff6c4a;
}

.gallery-right .gall-top-text.green-bg {
    background-color: #009899;
}

.gallery-right .gall-top-text.green-bg p {
    color: #fff;
    font-family: 'museo-slab', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    letter-spacing: 1.6px;
}

.gallery-right h2,.gall-txt-box h2 {
    font-family: "soleil",sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 24px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2.3px;
    margin-bottom: 12px;
}

/* About us css */
.breadcrumb-wrap {
    background-color: #deedf8;
}

.breadcrumb-wrap .breadcrumb {
    margin-bottom: 0;
    background-color: transparent;
    padding: 5px 0 4px;
}

.breadcrumb-wrap .breadcrumb li {
    font-size: 12px;
    line-height: 12px;
    color: #1b84c9;
    font-family: "soleil",sans-serif;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
}

.breadcrumb-wrap .breadcrumb li a {
    color: #005e9b;
    text-decoration: underline;
}

.breadcrumb-wrap .breadcrumb li a:hover,.breadcrumb-wrap .breadcrumb li a:focus {
    color: #333;
}

.breadcrumb > li + li::before {
    content: ">";
    color: #005e9b;
    margin-right: 3px;
}

.content {
    padding: 62px 0 63px;
}

.about .content {
    padding-bottom: 20px;
}

.content h2 {
    font-family: "soleil",sans-serif;
    font-style: normal;
    font-weight: 800;
    color: #0269ab;
    font-size: 24px;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.content h3 {
	 color: #0269ab;	
}

.content p,
.content li{
    font-size: 16px;
    line-height: 26px;
    color: #383838;
    font-family: "soleil",sans-serif;
    font-style: normal;
    font-weight: 300;
}

.content ol{
	padding-left: 50px;
}

.content ol li{
	margin: 10px 0;
	list-style: decimal;
}

.content .wp-caption img,
.content .wp-caption {
    width:auto !important;
    max-width:100% !important;
    height:auto !important;
}

.content .wp-caption {
  border: none;
  padding: 0;
}

.content .wp-caption-text {
	background: #0269ab;
    padding: 20px 30px;
    font-size: 16px;
    line-height: 24px;
    font-family: "soleil",sans-serif;
    font-style: italic;
    font-weight: 400;
    position: relative;
	color: #fff;
}

.about .content .wp-caption-text{
	background-color: #deedf8;
	color: #383838 !important;
	padding: 20px 30px 20px 116px;
}

.about .content .wp-caption-text:before {
    position: absolute;
    content: "";
    background: url(../images/program-hd-icon.png) no-repeat left top;
    height: 44px;
    width: 73px;
    background-size: 73px;
    left: 23px;
    top: 50%;
    margin-top: -22px;
}

.team-bio h3{
	margin: 0;
}

.team-bio .image{
	text-align: center;
}

.team-bio .image img{
	display: block;
	margin: 0 auto;
}

.content .content-txt {
    font-size: 16px;
    line-height: 32px;
    color: #585858;
    font-family: "soleil",sans-serif;
    font-style: italic;
    font-weight: 400;
    margin-top: 12px;
}

.content .content-txt .lnk-typ2.case2 {
    color: #585858;
}

.content .content-txt .lnk-typ2.case2:hover {
    color: #ef7f4d;
}

.int-banner {
    background-color: #005e9b;
    min-height: 160px;
}

.int-banner .banner-txt {
    text-align: center;
    padding: 42px 10% 0;
	color: #fff;
}

.int-banner .banner-txt h1 {
    font-family: "soleil",sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 64px;
    word-spacing: 4px;
}

.content-featured {
    padding-bottom: 30px;
    border-bottom: 2px solid #0269ab;
}

.content-featured h2 {
    margin-bottom: 50px;
}

.content-featured img.img-circle{
	max-width: 120px;
}

.content-featured .col-sm-6 h2{
	font-weight: 700;
	margin: 15px 0;
}

.content-featured .col-sm-6 p{
	font-family: "museo-slab",serif !important;	
}

.probox-support {
    height: auto!important;
}

.featured-box .probox-support {
    text-align: center;
    margin-bottom: 20px;
}


.featured-box .probox-support .img-circle{
	border: 1px solid #ccc;
}

.featured-box .probox-support.telephone-box .icon-probox {
    display: inline-block;
    width: 52px;
    height: 42px;
    background: url(../images/icon-phone.png) no-repeat left top;
    background-size: 52px;
    margin-bottom: 13px;
    min-height: 50px;
}

.featured-box .probox-support.lifesaver-box .icon-probox {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(../images/icon-lifesaver.png) no-repeat left top;
    background-size: 50px;
    margin-bottom: 13px;
    min-height: 50px;
}

.featured-box .probox-support.coordinator-box .icon-probox {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(../images/icon-coordinators.png) no-repeat left top;
    background-size: 50px;
    margin-bottom: 13px;
    min-height: 50px;
}

.featured-box .probox-support p {
    color: #383838;
    font-size: 16px;
    line-height: 26px;
    font-family: "soleil",sans-serif;
    font-style: normal;
    font-weight: 300;
    padding: 0 50px;
}

.featured-box .probox-support p a {
    color: #383838;
    text-decoration: none;
}

.featured-box .probox-support p a:hover,
.featured-box .probox-support p a:focus {
    color: #0269ab;
}

.education-control {
    padding: 50px 0;
}

.education-right .education-txt {
    margin-bottom: 0;
}

.gall-txt-box {
    background-color: #0269ab;
    padding: 71px 59px;
}

.gall-txt-box.evening-box {
    background-color: #009899;
}

.gall-txt-box.clinical-box {
    background-color: #ff6c4a;
}

.gall-txt-box.clinical-box .lnk-typ1:hover,
.gall-txt-box.clinical-box .lnk-typ1:focus {
    color: #0269ab;
}

.gall-txt-box .lnk-typ1 {
    color: #dbf0ff;
}

.gall-txt-box .lnk-typ1:hover,
.gall-txt-box .lnk-typ1:focus {
    color: #ff6c4a;
}

.int-gallery .image-case1,
.int-gallery .image-case2,
.int-gallery .image-case3 {
    overflow: hidden;
    text-align: center;
}

.int-gallery .image-case1 img,
.int-gallery .image-case2 img,
.int-gallery .image-case3 img {
    display: inline-block;
    width: 100%;
    max-width: none;
}

.int-gallery .image-case1{
	background: url(../images/gallery-int-1.png) no-repeat center center;
	background-size: cover;
}

.int-gallery .image-case2{
	background: url(../images/gallery-int-2.png) no-repeat center center;
	background-size: cover;
}

.int-gallery .image-case3{
	background: url(../images/gallery-int-3.png) no-repeat center center;
	background-size: cover;
}

.contact .gform_wrapper{
	padding: 0 15%;	
}

.contact .gform_footer{
	text-align: center;	
}

.accordion .panel-heading{
	background: #009899;
	border-color: #009899;
}

.accordion .panel-heading h3{
	margin: 0;
	font-size: 18px;
	font-weight: 500;
}

.panel-title a:before {
	font-family:'FontAwesome';
	content:"\f056";
	float:left;
	color:inherit;
	padding-right: 10px;
	vertical-align: top;
}

.panel-title a.collapsed:before {
	content:"\f055";
}

.accordion h3 a{
	display: block;
	color: #fff;	
}

.accordion h3 a:focus,
.accordion h3 a:active{
	text-decoration: none;	
}

.accordion ul li{
	margin: 10px 0;	
}

.staff-portal .form-signin{
	max-width: 300px;
	margin: 0 auto;
}

.upcoming-events h3{
	font-size: 20px; 
	line-height: 24px;
}