/* Recent Edits */
li.active br {
	display: none;
}
.podcast br {
  display: none;
}
.podcast h6 {
  font-size: medium;
  margin-bottom: 10px;
}
div.mejs-container {
  margin-bottom: 10px;
}
.podcast {
  border-bottom: .2px dotted #ccc;
}
div.podcast:not(.first-podcast) h6 {
  margin-top: 25px;
}
.carousel-wrap{
  margin-bottom: 45px;
  margin-top: 0px;
}
.home .carousel-indicators{
  bottom: -50px;
}
.carousel-indicators li {
  background-color: #deedf8;
  border: none;
  border-radius: 20px;
  height: 20px;
  width: 20px;
  margin: 4px 3px;
}
.carousel-indicators .active {
  background-color: #ff6c4a;
  height: 32px;
  width: 32px;
}
#mobile-slider-banner{
  display: none;
}
.carousel-caption {
  top: 50px;
  text-shadow: 0 1px 2px transparent
}
.carousel-caption h2,
.carousel-caption h1,
.carousel-caption h3 {
  margin: 0 auto
}
.carousel-caption a {
  color: #fff
}
.carousel-caption a:hover,
.carousel-caption a:focus,
.carousel-caption a:visited {
  text-decoration: none
}
.carousel-caption h2 {
  font-family: museo-slab, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 0;
  letter-spacing: 5.5px;
  word-spacing: 6px
}
.carousel-caption h1 {
  font-family: soleil, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 136px;
  line-height: 122px;
  letter-spacing: 2px;
  word-spacing: 4px
}
.carousel-caption h3 {
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 18px;
  padding: 5% 20%
}
.home .sub-menu .icon-ballot {
  position: relative;
  top: 2px;
}
  .home .sub-menu .icon-ballot:before{
    font-weight: 600!important;
  }
.intro-suggestion p{
  text-align: justify;
  font-size: 1.10em;
}
.the-program .content ul{
  padding-left: 20px;
  padding-bottom: 23px;
}
  .the-program .content ul li{
    list-style-type: disc;
    margin-bottom: 1%;
  }
@media (max-width: 1200px){
  .content li{
    font-size: 14px;
    line-height: 23px;
  }
}  
@media (max-width: 990px){
  header .topbar-left .project-teach{
    left: 0px;
  }
}
@media (max-width: 767px){
  header .project-teach a img{
    width: 140px;
    padding-bottom: 8px;
  }
  .home .gform_wrapper.gf_browser_chrome .gform_body{
    width: 100%!important;
  }
}  